<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <script>
            const ROOM_ID = '<%= roomId %>';
        </script>

        <script defer src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js"></script>
        <script defer src="/socket.io/socket.io.js"></script>
        <script defer src="/script.js"></script>

        <link rel="stylesheet" href="/styles/room.css" />

        <title>Room</title>
    </head>
    <body>
        <div class="container">
            <div class="caller">
                <h1>Caller</h1>
                <div id="video-grid"></div>
            </div>
            <div class="receiver">
                <h1>Receiver</h1>
                <div id="video-grid-guess"></div>
            </div>
        </div>
    </body>
</html>

